<div class="main-content new-article pt-5">
  <div class="article-form">
  
    <%= form_for(@category) do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <div class="category-form">
      
        <div class="group category-form">
          <%= f.label :name, "Input Category", class: "article-body-label" %>
          <%= f.text_field :name, maxlength: "8", class: "input" %>
        </div>
        <div class="group">
          <%= f.submit "Create Category", class: "button" %>
        </div>    
      </div>  
    <% end %>
  </div>
</div>